<div ng-app="schedule" ng-controller="scheduleController">
    <h1>Listando schedulers</h1>
    <table class="table">
        <tr>
            <th>Título</th>
        </tr>
        <tr ng-repeat="schedule in schedules">
            <td>{{schedule.title}}</td>
            <td>
                <a class="btn btn-primary" href="#!/schedule/details/{{schedule.ID}}">Details</a>
                <button class="btn btn-danger" ng-click="deleteSchedule(schedule)">Delete</button>
            </td>
        </tr>
    </table>
</div>